
@{
    ViewBag.Title = "The end of the registration process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin-top:300px">
<h2>On the specified e-mail sent instructions to complete the registration.</h2>
    </div>

